@import url('https://fonts.googleapis.com/css2?family=Anton&family=Covered+By+Your+Grace&family=Fredoka+One&family=Hind:wght@600&family=Righteous&family=Rubik+Bubbles&display=swap');

/*font-family: 'Anton', sans-serif;
font-family: 'Covered By Your Grace', cursive;
font-family: 'Fredoka One', cursive;
font-family: 'Hind', sans-serif;
font-family: 'Righteous', cursive;
font-family: 'Rubik Bubbles', cursive;*/

*{
  box-sizing: border-box;
  border: 0vh;
  margin: 0%;
}

header{
  height: 70px;
  width: 100%;
  background-color: #e63946;

  color: #f1faee;
  font-family: 'Righteous', cursive;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 15px;
  padding-right: 15px;
}

.menu-nav ul{
  display: flex;
  list-style: none;
  justify-content: space-between;
  }

.menu-nav a{
  text-decoration: none;
  padding-left: 15px;
}

main{
  height: 600px;
  width: 100%;
  
  background-image: url(https://cdn.pixabay.com/photo/2015/09/05/23/28/coding-926242_640.jpg);
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  align-items: center;
  justify-content: center;
}

.form-space{
  opacity: 0.8;
  background-color: #f1faee;
  width: 650px;

  font-family: 'Righteous', cursive;

  border-radius: 30px;
  padding-bottom: 30px;
  padding-top: 30px;
  padding-left: 28px;
  padding-right: 30px;

  display: flex;
  align-items: center;
}

.form-space .titulo {
  color: #e63946;
  padding-right: 55px;
  text-align: center;
}

.form-space>p{
  text-align: center;
}

form .entrada{
  background-color: #f1faee;
  border: solid 0.5px black;
}

.boton-form{
  border-radius: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 15px;
  padding-right: 15px;

  background-color: #e63946;
  color: #f1faee;
  font-family: 'Righteous', cursive;
}



.form-space li{
  list-style: none;
}


footer{
  height: 150px;
  width: 100%;

  background-color: #16001e;
  font-family: 'Righteous', cursive;
  color: #f1faee;

  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: 1fr;
}

.servicios-footer{
  display: flex;
  align-items: center;
  justify-content: center;
}

.servicios-footer a{
  text-decoration: none;
}

.servicios-footer ul{
  list-style: none;
}

.qr-space{
  display: flex;
  align-items: center;
  justify-content: center;
}

.qr{
  height: 90px;
  width: 100px;
}

.footer-titulo{
  height: auto;
  width: 100%;
  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.rrss{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.rrss ul{
  display: flex;
  list-style: none;
}

.img-sm{
  padding-top: 5px;
  padding-left: 20px;
  padding-right: 20px;
  height: 20px;
}