

/*font-family: 'Anton', sans-serif;
font-family: 'Covered By Your Grace', cursive;
font-family: 'Fredoka One', cursive;
font-family: 'Hind', sans-serif;
font-family: 'Righteous', cursive;
font-family: 'Rubik Bubbles', cursive;*/

*{
  box-sizing: border-box;
  border: 0vh;
  margin: 0%;
}

