@import url('https://fonts.googleapis.com/css2?family=Hind:wght@600&family=Oxygen:wght@300;700&family=Playfair+Display&family=Readex+Pro:wght@400;500;700&family=Righteous&display=swap');

/*font-family: 'Anton', sans-serif;
font-family: 'Covered By Your Grace', cursive;
font-family: 'Fredoka One', cursive;
font-family: 'Hind', sans-serif;
font-family: 'Righteous', cursive;
font-family: 'Rubik Bubbles', cursive;*/

*{
  box-sizing: border-box;
  border: 0vh;
  margin: 0%;
}

body{
  height: 800px;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 2em;
  background: linear-gradient(to left,#f72585,#7209b7,#3a0ca3,#4361ee);
}

.space-text{
  height: 750px;
  width: 100%;
  border-radius: 25px;
  background-color: #0d1b2a;
}

footer{
  height: 200px;
  width: 100%;
  padding: 3em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.space-navbar{
  height: 80px;
  width: 100%;
  padding: 2em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #1b263b;
  border-radius: 25px;
}

.space-navbar nav{
  display: flex;
}

nav .navbar-list{
  display: flex;
  list-style: none;
}

.navbar-list a{
  font-family: 'Hind', sans-serif;
  font-size: large;
  text-decoration: none;
  color: #e0e1dd;
  padding-left: 25px;
}

.button-start{
  padding: 1em;
  border-radius: 25px;
  background: linear-gradient(to left,#f72585, #4361ee);
}

.button-start a{
  font-family: 'Hind', sans-serif;
  color: #e0e1dd;
  text-decoration: none;
}

.block1{
  height: 400px;
  width: 100%;
  border-radius: 25px;
  border: #f72585 solid;
}